body {
    background-color: #363D3C; 
    color: white; 
}

table {
    border-collapse: collapse;
    width: 60%; 
    margin: 0;
    background-color: #2F3A3C;
}

th, td {
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    padding: 8px; 
}

th {
    background-color: black; 
    color: white; 
}

.blue-header {
    background-color: blue;
    color: white; 
}

.yellow-highlight {
    background-color: yellow;
    color: black; 
}
