body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1c1c1c;
    color: #f3f3f3;
}

h1 {
    color: #0ac2ff;
    margin-left: 40px;
}

h2 {
    color: #0ac2ff;
    margin-left: 0px;
}

form {
    max-width: 400px;
    margin: 20px 0;
    padding: 20px;
    background: #2e2e2e;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #1c1c1c;
    color: #f3f3f3;
    font-size: 16px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background: #0ac2ff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #008fbf;
}

hr {
    margin: 40px 20px;
    width: calc(100% - 40px);
    border: none;
    height: 1px;
    background: #ccc;
}