/* Tablo genel stil */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}

/* Başlık hücreleri için stil */
th {
    background-color: #4CAF50;
    color: white;
}

/* Alternatif satır renkleri */
tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Belirli hücreler için özel arka plan renkleri */
tr:nth-child(2) td:nth-child(1), /* Veri 1 */
tr:nth-child(2) td:nth-child(2), /* Veri 2 */
tr:nth-child(2) td:nth-child(3), /* Veri 3 */
tr:nth-child(2) td:nth-child(4), /* Veri 4 */
tr:nth-child(3) td:nth-child(7)  /* Veri 14 */ {
    background-color: #0000FF; /* Mavi arka plan */
    color: white; /* Yazı rengi beyaz */
}
